@charset "UTF-8";

.avalynx-simpleadmin-sidenav {
    list-style: none;
    padding: 8px;
}

.avalynx-simpleadmin-sidenav-link,
.avalynx-simpleadmin-sidenav-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    color: var(--avalynx-simpleadmin-sidenav-btn-color);
    text-align: left;
    background-color: var(--avalynx-simpleadmin-sidenav-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--avalynx-simpleadmin-sidenav-transition);
    padding: 0;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 4px 0;
}

.avalynx-simpleadmin-sidenav-link.active,
.avalynx-simpleadmin-sidenav-link:hover,
.avalynx-simpleadmin-sidenav-link:focus,
.avalynx-simpleadmin-sidenav-button.active,
.avalynx-simpleadmin-sidenav-button:hover,
.avalynx-simpleadmin-sidenav-button:focus {
    color: var(--avalynx-simpleadmin-sidenav-active-color);
    background-color: var(--avalynx-simpleadmin-sidenav-active-bg);
}

.avalynx-simpleadmin-sidenav-button:not(.collapsed) {
    color: var(--avalynx-simpleadmin-sidenav-active-color);
    background-color: var(--avalynx-simpleadmin-sidenav-active-bg);
}

.avalynx-simpleadmin-sidenav-link.active::after,
.avalynx-simpleadmin-sidenav-link:hover::after,
.avalynx-simpleadmin-sidenav-link:focus::after,
.avalynx-simpleadmin-sidenav-button.active::after,
.avalynx-simpleadmin-sidenav-button:hover::after,
.avalynx-simpleadmin-sidenav-button:focus::after {
    color: var(--avalynx-simpleadmin-sidenav-active-color);
}

.avalynx-simpleadmin-sidenav-button:not(.collapsed)::after {
    color: var(--avalynx-simpleadmin-sidenav-active-color);
    transform: var(--avalynx-simpleadmin-sidenav-btn-icon-transform);
}

.avalynx-simpleadmin-sidenav-button::after {
    flex-shrink: 0;
    width: var(--avalynx-simpleadmin-sidenav-btn-icon-width);
    height: var(--avalynx-simpleadmin-sidenav-btn-icon-width);
    margin-left: auto;
    content: var(--avalynx-simpleadmin-sidenav-btn-icon);
    font-family: var(--avalynx-simpleadmin-sidenav-btn-icon-font);
    color:var(--avalynx-simpleadmin-sidenav-btn-color);
    font-size: var(--avalynx-simpleadmin-sidenav-btn-icon-size);
    transition: var(--avalynx-simpleadmin-sidenav-btn-icon-transition);
}

.avalynx-simpleadmin-sidenav-link::after {
    flex-shrink: 0;
    width: var(--avalynx-simpleadmin-sidenav-btn-icon-width);
    height: var(--avalynx-simpleadmin-sidenav-btn-icon-width);
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: var(--avalynx-simpleadmin-sidenav-btn-icon-width);
}

.avalynx-simpleadmin-sidenav-link:hover,
.avalynx-simpleadmin-sidenav-button:hover {
    z-index: 2;
}

.avalynx-simpleadmin-sidenav-link:focus,
.avalynx-simpleadmin-sidenav-button:focus {
    z-index: 3;
}

.avalynx-simpleadmin-sidenav-link,
.avalynx-simpleadmin-sidenav-header {
    margin-bottom: 0;
}

.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-link {
    font-weight: normal;
    text-decoration: none;
}

.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-link,
.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-button {
    padding: 8px;
    display: flex;
}

.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-link i,
.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-button i {
    margin-right: 8px;
}

.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-link span.title,
.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-button span.title {
    flex-grow: 1 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0;
    padding-right: 8px;
}

.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-link span.title .badge,
.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-button span.title .badge {
    margin: 0 8px;
}

.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-link .rounded-pill,
.avalynx-simpleadmin-sidenav-item .avalynx-simpleadmin-sidenav-button .rounded-pill {
    float: right;
    margin-right: 8px;
}

.avalynx-simpleadmin-sidenav-line {
    border-bottom:2px solid var(--bs-border-color);
    padding-top:12px;
    margin-bottom: 12px;
}

.avalynx-simpleadmin-sidenav-heading {
    padding: 8px;
    padding-top:24px;
    color: var(--bs-secondary-color);
    font-size: 0.675rem;
    font-weight: 900;
    text-transform: uppercase;
}
