@charset "UTF-8";

:root,
[data-bs-theme=light] {
    --avalynx-navbar-height: 60px;
    --avalynx-sidenav-width: 18rem;
    --avalynx-sidenav-width: 288px;
    --avalynx-darkmode-0: '<i class="bi bi-brightness-high-fill"></i>';
    --avalynx-darkmode-1: '<i class="bi bi-moon-stars-fill"></i>';
    --avalynx-darkmode-2: '<i class="bi bi-circle-half"></i>';
    --avalynx-breakpoint: 768px;
    --avalynx-light: var(--bs-light);
    --avalynx-gray-light: var(--bs-gray-300);
    --avalynx-gray-normal: var(--bs-gray-400);
    --avalynx-gray-dark: var(--bs-gray-500);
    --avalynx-navi-bg: var(--bs-body-bg);
    --avalynx-content-bg: var(--bs-gray-200);
    --avalynx-header-btn-color: var(--bs-body-color);
    --avalynx-header-btn-bg: var(--bs-body-bg);
    --avalynx-header-active-color: var(--bs-primary-text-emphasis);
    --avalynx-header-active-bg: var(--bs-primary-bg-subtle);
}

[data-bs-theme=dark] {
    --avalynx-light: var(--bs-border-color-translucent);
    --avalynx-gray-light: var(--bs-gray-500);
    --avalynx-gray-normal: var(--bs-gray-600);
    --avalynx-gray-dark: var(--bs-gray-800);
    --avalynx-navi-bg: var(--bs-body-bg);
    --avalynx-content-bg: var(--bs-border-color-translucent);
}
