@charset "UTF-8";

.avalynx-simpleadmin-sidenav-sub1 {
    --avalynx-simpleadmin-sidenav-sub1-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --avalynx-simpleadmin-sidenav-sub1-border-color: var(--bs-border-color);
    --avalynx-simpleadmin-sidenav-sub1-btn-color: var(--bs-body-color);
    --avalynx-simpleadmin-sidenav-sub1-btn-icon: "\f078";
    --avalynx-simpleadmin-sidenav-sub1-btn-icon-font: "FontAwesome";
    --avalynx-simpleadmin-sidenav-sub1-btn-icon-width: 0.75rem;
    --avalynx-simpleadmin-sidenav-sub1-btn-icon-size: 0.7rem;
    --avalynx-simpleadmin-sidenav-sub1-btn-icon-transform: rotate(-180deg);
    --avalynx-simpleadmin-sidenav-sub1-btn-icon-transition: transform 0.2s ease-in-out;
    --avalynx-simpleadmin-sidenav-sub1-active-color: var(--bs-primary-text-emphasis);
    --avalynx-simpleadmin-sidenav-sub1-active-bg: var(--bs-primary-bg-subtle);
}
