@charset "UTF-8";

.avalynx-simpleadmin-sidenav-sub1 {
    list-style: none;
    padding: 0 0;
    margin-left: 15px;
    border-left: 2px solid var(--avalynx-simpleadmin-sidenav-sub1-border-color);
}

.avalynx-simpleadmin-sidenav-sub1-link,
.avalynx-simpleadmin-sidenav-sub1-button {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 11px);
    font-size: 1rem;
    color: var(--avalynx-simpleadmin-sidenav-sub1-btn-color);
    text-align: left;
    background-color: var(--avalynx-simpleadmin-sidenav-sub1-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--avalynx-simpleadmin-sidenav-sub1-transition);
    padding: 0;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-left: 11px;
}

.avalynx-simpleadmin-sidenav-sub1-link.active,
.avalynx-simpleadmin-sidenav-sub1-link:hover,
.avalynx-simpleadmin-sidenav-sub1-link:focus,
.avalynx-simpleadmin-sidenav-sub1-button.active,
.avalynx-simpleadmin-sidenav-sub1-button:hover,
.avalynx-simpleadmin-sidenav-sub1-button:focus {
    color: var(--avalynx-simpleadmin-sidenav-sub1-active-color);
    background-color: var(--avalynx-simpleadmin-sidenav-sub1-active-bg);
}

.avalynx-simpleadmin-sidenav-sub1-button:not(.collapsed) {
    color: var(--avalynx-simpleadmin-sidenav-sub1-active-color);
    background-color: var(--avalynx-simpleadmin-sidenav-sub1-active-bg);
}

.avalynx-simpleadmin-sidenav-sub1-link.active::after,
.avalynx-simpleadmin-sidenav-sub1-link:hover::after,
.avalynx-simpleadmin-sidenav-sub1-link:focus::after,
.avalynx-simpleadmin-sidenav-sub1-button.active::after,
.avalynx-simpleadmin-sidenav-sub1-button:hover::after,
.avalynx-simpleadmin-sidenav-sub1-button:focus::after {
    color: var(--avalynx-simpleadmin-sidenav-sub1-active-color);
}

.avalynx-simpleadmin-sidenav-sub1-button:not(.collapsed)::after {
    background-image: var(--avalynx-simpleadmin-sidenav-sub1-btn-active-icon);
    transform: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-transform);
}

.avalynx-simpleadmin-sidenav-sub1-button::after {
    flex-shrink: 0;
    width: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-width);
    height: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-width);
    margin-left: auto;
    content: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon);
    font-family: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-font);
    color:var(--avalynx-simpleadmin-sidenav-sub1-btn-color);
    font-size: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-size);
    transition: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-transition);
}

.avalynx-simpleadmin-sidenav-sub1-link::after {
    flex-shrink: 0;
    width: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-width);
    height: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-width);
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: var(--avalynx-simpleadmin-sidenav-sub1-btn-icon-width);
}

.avalynx-simpleadmin-sidenav-sub1-link:hover,
.avalynx-simpleadmin-sidenav-sub1-button:hover {
    z-index: 2;
}

.avalynx-simpleadmin-sidenav-sub1-link:focus,
.avalynx-simpleadmin-sidenav-sub1-button:focus {
    z-index: 3;
}

.avalynx-simpleadmin-sidenav-sub1-link,
.avalynx-simpleadmin-sidenav-sub1-header {
    margin-bottom: 0;
}

.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-link {
    font-weight: normal;
    text-decoration: none;
}

.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-link,
.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-button {
    padding: 8px;
    display: flex;
}

.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-link span.title,
.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-button span.title {
    flex-grow: 1 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0 8px 0 0;
}

.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-link span.title .badge,
.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-button span.title .badge {
    margin: 0 8px;
}

.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-link .rounded-pill,
.avalynx-simpleadmin-sidenav-sub1-item .avalynx-simpleadmin-sidenav-sub1-button .rounded-pill {
    float: right;
    margin-right: 8px;
}
